# /etc/dnsmasq.d/.dhcp-opts/dhcp-opts
# See /etc/dnsmasq.conf: dhcp-optsdir=
# {{ ansible_managed }}

option:nis-server,0.0.0.0
option:netbios-ns,0.0.0.0
option:netbios-dd,0.0.0.0
option:netbios-nodetype,8

252,""		# Windows requires WPAD proxy URL
vendor:MSFT,2,1i	# Remind Windows to release DHCP lease on shutdown

{% for opt in dnsmasq_dhcp_opts %}
option:{{ opt }}
{% endfor %}

