# {{ ansible_managed }}

interface={{ dnsmasq_interface }}	# listen (+ lo)
bind-interfaces	# only bind to above interface

user={{ dnsmasq_user }}	# Drop privs
group={{ dnsmasq_group }}

quiet-dhcp		# don't log DHCP traffic
domain-needed		# Only forward FQDNs to upstream DNS
filterwin2k		# Filter useless requests from Windows
expand-hosts		# Add domain to names from /etc/hosts
conntrack		# Accting: inbound req + outbound upstream
cache-size=200		# Number of DNS results
local-ttl=600		# Clients cache DNS results for this long
no-resolv		# only use specified servers

servers-file={{ dnsmasq_conf_dir }}/servers
dhcp-hostsfile={{ dnsmasq_conf_dir }}/dhcp-hosts
dhcp-optsfile={{ dnsmasq_conf_dir }}/dhcp-opts
hostsdir={{ dnsmasq_conf_dir }}/hosts

{{ dnsmasq_config }}
