# {{ ansible_managed }}

interface={{ dnsmasq_interface }}
bind-interfaces		# bind only to above

user={{ dnsmasq_user }}	# Drop privs
group={{ dnsmasq_group }}

expand-hosts		# append domain to entries in hosts files
quiet-dhcp		# don't log DHCP traffic
domain-needed		# Only forward FQDNs to upstream DNS
no-hosts		# Don't parse /etc/hosts
conntrack		# Accting: inbound req + outbound upstream
cache-size=200		# Number of DNS results
local-ttl=600		# Clients cache DNS results for this long
no-resolv		# only use specified servers

{% if dnsmasq_servers %}
servers-file={{ dnsmasq_conf_dir }}/servers
{% endif %}
{% if dnsmasq_dhcp_hosts %}
dhcp-hostsfile={{ dnsmasq_conf_dir }}/dhcp-hosts
{% endif %}
{% if dnsmasq_dhcp_opts %}
dhcp-optsfile={{ dnsmasq_conf_dir }}/dhcp-opts
{% endif %}
{% if dnsmasq_hosts %}
hostsdir={{ dnsmasq_conf_dir }}/hosts
{% endif %}

conf-dir={{ dnsmasq_conf_dir }}/includes,*.conf

{{ dnsmasq_config }}
