# {{ ansible_managed }}
# Firewall rules for dnsmasq
{% set ipt = '/usr/sbin/iptables' %}
{% set ch = 'in_dnsmasq' %}
{% set in_rule = '-i ' ~ dnsmasq_interface ~ ' -j ' ~ ch %}

[Service]
# Setup ref to chain
ExecStartPre=!-{{ ipt }} -N {{ ch }}
ExecStartPre=!{{ ipt }} -F {{ ch }}
ExecStartPre=!-{{ ipt }} -D INPUT {{ in_rule }}
ExecStartPre=!{{ ipt }} -A INPUT {{ in_rule }}

ExecStartPre=!{{ ipt }} -A {{ ch }} -p udp --dport {{ dnsmasq_port }} -j ACCEPT
ExecStartPre=!{{ ipt }} -A {{ ch }} -p udp --dport 67 -j ACCEPT

# Cleanup: unref, flush, delete
ExecStopPost=!-{{ ipt }} -D INPUT {{ in_rule }}
ExecStopPost=!-{{ ipt }} -F {{ ch }}
ExecStopPost=!-{{ ipt }} -X {{ ch }}

